<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for type, message in  toasts %}
        <div class="toast toast-{{ type }}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
            <div class="toast-header">
                <strong>{{ message.title }}</strong>
            </div>
            <div class="toast-body">
                {{ message.body }}
            </div>
        </div>
    {% endfor %}
</div>

{% block javaScript %}
<script type="application/javascript">
    (function(){
        const toastElList = document.querySelectorAll('.toast')
        const toastList = [...toastElList].map(toastEl => (new bootstrap.Toast(toastEl)).show())
    })();
</script>
{% endblock %}