{% extends '@layout/default.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if isLoggedIn() %}
        <strong>Logged in</strong>
        <h1 class="my-3">Hello {{ currentUser().identity }}</h1>
    {% endif %}

    <form action="{{ url("logout") }}" method="post"/>
        <input class="btn btn-primary" type="submit" value="Logout"/>
    </form>

{% endblock %}
