{% extends '@layout/default.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if isLoggedIn() %}
        Logged in

        <hr/>

        Hello {{ currentUser().identity }}

    {% else %}
        Not logged in
    {% endif %}

    <hr />

    <form action="{{ url("logout") }}" method="post"/>
        <input type="submit" value="Logout"/>
    </form>

{% endblock %}
