{% extends '@layout/default.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <form action="{{ url("authenticate") }}" method="post">
        <input type="email" name="identity" autofocus>
        <input type="password" name="password">
        <input type="submit">
    </form>

    {% if isLoggedIn() %}
        Logged in
    {% else %}
        Not logged in
    {% endif %}

{% endblock %}
